@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
  .main {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    margin-left: 35px;
  }
  .articles {
    max-width: 1000px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0;
  }
  .articles div {
    margin-top: 50px;
  }
  .upload {
    margin-right: 0;
  }
  .des-title-wrapper {
    margin-bottom: 0;
  }
  .profile-wrapper a {
    margin-top: 54px;
  }
  .profile-wrapper,
  .des-title-wrapper {
    display: none;
  }
  .search {
    transform: none;
  }
  .for-designers,
  .brand-wrapper,
  .company {
    margin-right: 90px;
  }
  .directories-wrapper {
    margin-right: 35px;
  }
  .hidden {
    display: none;
  }
  .burger {
    display: block;
    margin-right: 25px;
  }
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .main {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    margin-left: 75px;
  }
  .articles {
    max-width: 700px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin-top: 0;
  }
  .search {
    width: 250px;
    margin-left: 0;
  }
  #searching {
    width: 200px;
  }
  .subjects {
    display: none;
  }
  .filters {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}
