@media (max-width: 1919px) {
  .sidebar {
    display: none;
  }
  .main {
    margin: 0 auto;
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
  .main {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }
  .articles {
    max-width: 1000px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin-top: 0;
  }
  .articles div {
    margin: 50px auto;
  }
  .upload {
    margin-right: 0;
  }
  .des-title-wrapper {
    margin-bottom: 0;
  }
  .profile-wrapper a {
    margin-top: 54px;
  }
  .profile-wrapper,
  .des-title-wrapper {
    display: none;
  }
  .search {
    display: none;
  }
  .for-designers,
  .brand-wrapper,
  .company,
  .directories-wrapper {
    margin-right: unset;
    margin: 0 auto;
  }

  .hidden {
    display: none;
  }
  .burger {
    display: block;
    margin-right: 25px;
  }
  .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  nav {
    justify-content: center;
  }
  .subjects-wrapper div {
    display: none;
  }
  .subjects-wrapper {
    justify-content: center;
  }
  .logo-wrapper {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .main {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }
  .articles {
    max-width: 700px;
    width: 100%;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .search {
    width: 250px;
    margin-left: 0;
  }
  #searching {
    width: 200px;
  }
  .subjects {
    display: none;
  }
  .filters {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  .footer-wrapper div {
    margin-right: unset;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .main {
    max-width: 480px;
    margin: 0 auto;
  }
  .burger {
    display: block;
    margin-right: 25px;
  }
  .search {
    display: none;
  }
  .upload {
    display: none;
  }
  .articles,
  .footer-wrapper {
    display: flex;
    flex-direction: column;
  }
  nav {
    justify-content: center;
  }
  .articles div {
    margin: 50px auto;
  }
  .more {
    padding: unset;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .logo-wrapper {
    flex-direction: column;
  }
  .logo-icons {
    margin-bottom: 20px;
  }
  .span {
    font-size: 16px;
  }
}
