.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 0px;
}
.sidebar {
  height: 100%;
  width: 319px;
  background-color: #222222;
}
.main {
  padding-top: 42px;
  background-color: blue;
  margin-left: -5px;
}
.sidebar-container {
  max-width: 259px;
  width: 100%;
  margin: 0 auto;
}
.title {
  margin-top: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topic {
  margin-top: 106px;
  margin-bottom: 87px;
}
.topic-wrapper {
  background: transparent;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding-left: 30px;
}
.topic-wrapper img {
  margin-right: 15px;
}
.hover :hover {
  background-color: #ff2288;
}
.following {
  padding-left: 30px;
}
.following-wrapper {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.following-wrapper div img {
  margin-right: 20px;
}
.follower-marginT {
  margin-top: 31px;
}
.search {
  transform: translateY(-25%);
  border-radius: 12px;
  width: 446px;
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  background-color: #f8f8f8;
  align-items: center;
}
#searching {
  background-color: transparent;
  height: 56px;
}
input {
  padding-left: 20px;
  border: none;
  outline: none;
  width: 380px;
}
.search img {
  margin-right: 20px;
  width: 24px;
}
nav {
  display: flex;
  justify-content: space-between;
}
.icons {
  display: flex;
  align-items: center;
}
.icons a {
  margin-left: 20px;
}
.upload {
  background-color: #ff2288;
  border-radius: 12px;
  width: 129px;
  height: 56px;
  margin-left: 30px;
  margin-right: 56px;
  padding: 17px 40px 20px 36px;
}
hr {
  margin-left: 25px;
  margin-right: 56px;
  margin-top: 40px;
  margin-bottom: 40px;

  color: #111111;
  opacity: 5%;
}
section {
  max-width: 1231px;
  width: 100%;
  margin: 0 auto;
}
.subjects-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subjects span {
  margin-left: 56px;
}
.filters {
  display: flex;
  align-items: center;

  height: 56px;
  width: 132px;
  border: 1px solid #d8d8d8;
  border-radius: 12px;
  padding: 16px 27px 16px 24px;
}
.filters img {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}
/* footer {
  width: 100%;
  height: 500px;
  color: gold;
} */
